# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Docker & Données (Base de données et fichiers lourds)
qdrant_storage/
n8n_data/
fstm_data/
fstm_pdfs/
fstm_scraped/

# Fichiers Personnels & Confidentiels
*CV*
*cv*
*Resume*
*resume*
*.pdf
!logo.png
*.zip

# IDE
.vscode/
.idea/
.DS_Store
